<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/lifeblog?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>   

        <!-- Speak the MySQL language. -->
        <!--
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>  
        -->    

        <!-- Log the SQL statements produced. -->
        <property name="show_sql">true</property> 
        <property name="max_fetch_depth">1</property>  

        <!-- Entities! -->
        <mapping class="com.sg.lifeblogserver.model.Category"/>


    </session-factory>
</hibernate-configuration>