# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/FactorizerJSPServlet/target/
/mavenproject1/HelloMVC/target/
/FactorizorSpringMVC/target/
/LuckySeven/target/
/FlooringSpringMVC/target/
/ContactListSpringMVC/target/
/VendingMachineSpringMVC/target/
/EvenInFibonacciSeq/target/
/Library/nbproject/
/Library/target/
/DVDLibrarySpring/target/
/DVDLibrarySpring/nbproject/
/SuperHeroSightings/target/
/SuperHeroSightings/nbproject/
/HangManSpring/target/
/HangManSpring/nbproject/
/lifeblogServer/target/
/JSONParser/nbproject/private/
/JSONParser/build/